.top_nav{position: relative; text-align: center; width: 1200px; margin: 0 auto;}
.top_nav>ul{display: flex; width: 455px; position: absolute; left: 50%; top: 30px; margin: 0 140px;}
.top_nav>ul>li{flex: 1; text-align: center; border-right: 1px solid #ddd; font-size: 12px; }

header{padding: 75px 0; position: relative; width: 1200px; margin: 0 auto;} 
header h1{position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%)}
header h1 img{width: 100%;}
header h1 a img:hover{transform: scale(1.2); transition: 2s;}
/* .search{position: absolute; left: 50%; top: 50%;}
header .hwrap .search .xi-search{font-size: 14px; width: 200px;}
header .search output{border: 2px solid #eaff86; padding: 5px; border-radius: 2px solid #eaff86;} */

/* nav{border-top: 1px solid #333; border-bottom:1px solid #333;}
nav>ul{display: flex; width: 1170px; margin: 0 auto;}
nav>ul>li{flex:1; text-align: center; border-left: 1px solid #ddd; line-height: 20px;}
nav>ul>li:last-child{border-right: 1px solid #ddd;}

nav .mn{text-align: center; line-height: 20px;} */

nav{border-top: 1px solid #333; border-bottom: 1px solid #333;}
nav .nrap{width: 1200px; margin: 0 auto;}
/* nav .nrap .mn{float: left; margin-right: 20px;} */
nav .nrap>ul{display: flex; width: 1200px; text-align: center; margin-right: 10px; padding: 0 10px;}
nav .nrap>ul>li{flex: 1; text-align: center; border-left: 1px solid #333; line-height: 40px;}
nav .nrap>ul>li:last-child{border-right: 1px solid #333;}
nav .nrap>ul>li i{font-size: 16px;}





#visual{text-align: center; position: relative;}
#visual img{width: 100%;}
#visual .txt{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}

#visual .slick-dots{position: absolute; bottom: 50px; left: 50%; transform: translateX(-50%);}
#visual .slick-dots li{display: inline-block; width: 50px; height: 4px; margin: 0 2px; border-radius: 1px; background: #333;}
#visual .slick-dots li.slick-active{background: #fff;}
#visual .slick-dots li button{display: none;}



#content01{padding: 100px 0; text-align: center;}
#content01 h2{font-size: 24px; font-weight: 700; padding: 50px 0;}


#content01 .container{display: flex; width: 1200px; margin: 0 auto;}
#content01 .container figure{flex: 1; padding: 0 15px;}
#content01 .container figure img{width: 100%;}

#content02{padding: 100px 0; text-align: center;}
#content02 h2{font-size: 24px; font-weight: 700; padding: 50px 0;}


#content02 .container{display: flex; width: 1200px; margin: 0 auto;}
#content02 .container figure{flex: 1; padding: 0 15px;}
#content02 .container figure img{width: 100%;}


#content03{padding: 100px 0; text-align: center; position: relative; }
#content03 h2{font-size: 24px; font-weight: 700; padding: 50px 0; position: absolute; left: 50%; top: 50px; transform: translate(-50%,-50%); z-index: 999;}

#content03 .cwrap{background: linear-gradient(#f3a9dd,#439cef 50%, #f0c3e3 73%, #8ebcf3); position: absolute; top: 400px; left: 50%; transform: translate(-50%,-50%); padding: 150px 0; width: 100%; height: 200px;}

#content03 .container{display: flex; width: 1200px; margin: 0 auto; background: #fff; padding: 25px 0; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
#content03 .container figure{flex: 1; padding: 0 15px;}
#content03 .container figure img{width: 100%;}

footer{background: #fff; width: 1200px; height: 50px; position: relative; margin: 0 auto; left: 0; top: 550px;}

footer .container{display: flex; width: 1200px; margin: 0 auto; background: #706e6e;}
footer .info{display: flex; padding: 0 15px; color: #Fff;}
footer .info li{line-height: 60px; padding: 0 15px 0 15px; position: relative;}
footer .info li:first-child{padding: 0 15px 0 0;}
footer .info li~li:before{content:""; display: block; width: 1px; height: 12px; background: #fff; position: absolute; top: 25px; left: 0;} 
footer .info li.bold{font-weight: 700;}

footer .container{padding: 0; }
footer .container .link {margin-left: auto; padding: 15px 15px; }

footer .link select{background:#706e6e; ; color: #fff; padding: 3px 10px;border: 2px solid #fff;}
footer .link option{background: #706e6e;; color: #fff;}